<article class="post">
	<header class="post-header">
        <h3 class="p-post-title">Posts</h3>
    </header>

    <section class="post-content">
        
    </section>

    <hr>

    <footer class="post-footer">
        <section class="f-1">
            
            <section class="author">
                <p>Words by patterns</p>
            </section>
            
            
            <p class="f-post-time"><time datetime="2017-04-04T20:39:19-07:00">April 4, 2017</time></p>
        </section>
                        
        <section class="f-2">
            <section class="share">
                <span>Share:
                <a class="icon-twitter" href="http://twitter.com/share?text=Posts&url=%2farchive%2f2017%2fpost%2f"
                    onclick="window.open(this.href, 'twitter-share', 'width=550,height=235');return false;">
                    <i class="fa fa-twitter"></i>
                </a>
                <a class="icon-facebook" href="https://www.facebook.com/sharer/sharer.php?u=%2farchive%2f2017%2fpost%2f"
                    onclick="window.open(this.href, 'facebook-share','width=580,height=296');return false;">
                    <i class="fa fa-facebook"></i>
                </a>
                <a class="icon-google-plus" href="https://plus.google.com/share?url=%2farchive%2f2017%2fpost%2f"
                   onclick="window.open(this.href, 'google-plus-share', 'width=490,height=530');return false;">
                    <i class="fa fa-google-plus"></i>
                </a>
                </span>
            </section>

            
        </section>
                        
    </footer>
</article>