/* @import url('https://fonts.googleapis.com/css?family=Rajdhani&display=swap');

html {
  font-family: 'Rajdhani', sans-serif;
}
*/

.sidebar
  background-color #000

html
  background-color #000

body
  background-color #000
/*
  background-image linear-gradient(45deg, #5E2CA5, #001B44)
  color #9EEBCF
*/
.navbar
  background-color #000

div.links
  background-color #000!important

.nav-links
  background-color #000

