<template>
  <div
    class="xfooter"
    v-if="data.footer"
  >
    {{ data.footer }}
    <span
      class="archive"
      v-if="archiveLink.text && archiveLink.link"
    > |
      <StaticLink :href="$withBase(archiveLink.link)">{{archiveLink.text}}</StaticLink>
    </span>
  </div>
</template>

<script>
export default {
  name: 'ExtFooter',

  computed: {
    data () {
      return this.$site.pages.find(x => x.path == "/").frontmatter
    },

    archiveLink () {
      return {
        link: this.data.archiveLink,
        text: this.data.archiveText
      }
    }
  }
}
</script>

<style lang="stylus">
  .xfooter
    max-width $contentWidth
    margin 0px auto
    font-size .9em
    text-align center

</style>
