<template>
  <ParentLayout>
    <template #page-bottom>
      <ExtFooter />
    </template>
  </ParentLayout>
</template>

<script>
  import ParentLayout from '@parent-theme/layouts/Layout.vue'
  import ExtFooter from '@theme/components/ExtFooter.vue'

  export default {
    name: 'Layout',

    components: {
      ParentLayout,
      ExtFooter
    }
  }
</script>

<style lang="stylus">
@import url('https://fonts.googleapis.com/css?family=Rajdhani&display=swap');

.theme-container
  font-family 'Rajdhani', sans-serif
</style>

